## Print Statement

In [54]:
import sys

In [5]:
print(10,20,30)
print(10,30)

10 20 30
10 30

In [6]:
marks = 80
print("I scored ",marks, 20.56, 30.2)

I scored  80 20.56 30.2

In [10]:
print("i want","apples","guavas",sep="")

i wantapplesguavas

## Type Method

In [3]:
type(marks)

int

In [16]:
print("Hello","Alpha","Beta","Gamma",end=",")
print("World")

Hello Alpha Beta Gamma,World

In [22]:
print("Hello","Alpha","Beta","Gamma",sep="__",end="\n")
print("World")

Hello__Alpha__Beta__Gamma
World

In [28]:
print("hi")
print()
print(end="")
print("avijit")

hi

avijit

In [29]:
location = "Shimla"
date = "22 Dec"

In [30]:
print("I want go to ",location, "on ",date)

I want go to  Shimla on  22 Dec

## Output formatting

In [32]:
location = "manali"

In [35]:
print("I want to go to {} on {}".format(location,date))

I want to go to manali on 22 Dec

In [43]:
print("I want to go to {1} on {0}".format(date,location))

I want to go to manali on 22 Dec

## Formatted Strings

In [37]:
food_item = "pizza"
restaurent = "dominoes"

In [41]:
print("I want to order {food_item} from {restaurent}")

I want to order {food_item} from {restaurent}

In [42]:
print(f"I want to order {food_item} from {restaurent}")

I want to order pizza from dominoes

## Datatypes

In [49]:
a = 10
type(a)

int

In [56]:
b = 100000000000000000000.56566666666668888888888
type(b)

float

In [61]:
print(sys.getsizeof(b))
print(sys.getsizeof(a))

24
28

In [63]:
ch = 'a'
name = "Prateek"
print(type(ch))
print(type(name))

<class 'str'>
<class 'str'>

In [64]:
isRainy = True
print(type(isRainy))

<class 'bool'>

In [65]:
isRainy = 10
print(type(isRainy))

<class 'int'>

## Typecasting

In [66]:
x = 3.141
y = int(x)

In [70]:
float(5)

5.0

In [67]:
print(y)

3

In [69]:
"Hello" + str(5)

'Hello5'

### Input

In [74]:
name = input()

Class

In [75]:
print("Hi " + name)

Hi Class

In [76]:
print(type(name))

<class 'str'>

In [79]:
# Input returns a string, you need to typecast it into a number
number = int(input())
print(number + 1)

89
90

In [90]:
### Program P, R, T

P = int(input())
R = float(input())
T = float(input())

Si = (P*R*T)/100
print(f'Simple interest is {Si}')

10
1
1
Simple interest is 0.1

# Markdown Basics 
## Smaller Heading
    - apple
    - mango
    - guava
    
### 3x Smaller Heading

- bullet point

_italic text_

```python
print("hello world")
a = 10
```

**Java code**

```java
System.out.println("Coding in java")
```

## Image
![](http://localhost:8888/kernelspecs/python3/logo-64x64.png)

```
                                            Something in the Middle
```

**bold text**